.container {
  padding: 0 2%;
}

.bookItem {
  display: flex;

  border-bottom: 3px solid grey;
  padding: 3% 0;
}

.bookItemImg {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.bookItemImg img {
  min-width: 150px;
  max-height: 200px;
  object-fit: contain;
}

.bookItemInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2%;
}

.bookItemHead h2 {
  font-size: 0.9em;
  margin-bottom: 5%;
}

.bookItemHead h3 {
  font-size: 0.8em;
}

.bookItemBtn {
  width: 6em;
  height: 3em;
  margin: 2% auto;
  margin-right: 10px;
  border: whitesmoke;
  background-color: cadetblue;
  color: white;
  font-size: 0.8em;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 0 4px 0 0px rgba(255, 255, 255, 0.081);
  transition: 0.3s;
}

.bookItemBtn:active {
  box-shadow: 0 0px 0 0px transparent;
  transform: translateY(8px);
}

.bookItemBtnDel {
  width: 6em;
  height: 3em;
  margin: 2% auto;
  margin-right: 10px;
  border: whitesmoke;
  background-color: lightslategray;
  color: white;
  font-size: 0.8em;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 0 4px 0 0px rgba(255, 255, 255, 0.081);
  transition: 0.3s;
}

.bookItemBtnDel:active {
  box-shadow: 0 0px 0 0px transparent;
  transform: translateY(8px);
}
