.bookItem {
  display: flex;
  border-bottom: 3px solid grey;
  padding: 3% 0;
}

.bookItemImg {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.bookItemImg img {
  min-width: 150px;
  max-height: 200px;
  object-fit: contain;
}

.bookItemInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2%;
}

.bookItemHead h2 {
  font-size: 0.9em;
  margin-bottom: 5%;
}

.bookItemHead h3 {
  font-size: 0.8em;
}

.bookItemBtn {
  width: 6em;
  height: 3em;
  margin: 2% auto;
  margin-right: 10px;
  border: whitesmoke;
  background-color: cadetblue;
  color: white;
  font-size: 0.8em;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 0 4px 0 0px rgba(255, 255, 255, 0.081);
  transition: 0.3s;
}

.bookItemBtn:active {
  box-shadow: 0 0px 0 0px transparent;
  transform: translateY(8px);
}

.bookItemBtnDel {
  width: 6em;
  height: 3em;
  margin: 2% auto;
  margin-right: 10px;
  border: whitesmoke;
  background-color: lightslategray;
  color: white;
  font-size: 0.8em;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 0 4px 0 0px rgba(255, 255, 255, 0.081);
  transition: 0.3s;
}

.bookItemBtnDel:active {
  box-shadow: 0 0px 0 0px transparent;
  transform: translateY(8px);
}

@media (min-width: 576px) {
  .bookItemImg img {
    min-width: 180px;
    max-height: 220px;
    object-fit: contain;
  }
  .bookItemHead h2 {
    font-size: 1em;
    margin-bottom: 4%;
  }

  .bookItemHead h3 {
    font-size: 0.9em;
  }

  .bookItemBtn {
    width: 7em;
    height: 3em;
    font-size: 0.9em;
  }

  .bookItemBtnDel {
    width: 7em;
    height: 3em;
    font-size: 0.9em;
  }
}

@media (min-width: 768px) {
  .bookItemImg img {
    min-width: 190px;
    max-height: 230px;
    object-fit: contain;
  }
  .bookItemHead h2 {
    font-size: 1.1em;
    margin-bottom: 3%;
  }

  .bookItemHead h3 {
    font-size: 1em;
  }
  .bookItemBtn {
    width: 7.5em;
    height: 3em;
    font-size: 1em;
  }

  .bookItemBtnDel {
    width: 7.5em;
    height: 3em;
    font-size: 1em;
  }
}

@media (min-width: 992px) {
  .bookItemImg img {
    min-width: 200px;
    max-height: 240px;
    object-fit: contain;
  }
  .bookItemHead h2 {
    font-size: 1.2em;
    margin-bottom: 2%;
  }

  .bookItemHead h3 {
    font-size: 1.1em;
  }
  .bookItemBtn {
    font-size: 1.1em;
  }

  .bookItemBtnDel {
    font-size: 1.1em;
  }
}

@media (min-width: 1200px) {
  .bookItemImg img {
    min-width: 220px;
    max-height: 260px;
    object-fit: contain;
  }
  .bookItemHead h2 {
    font-size: 1.3em;
    margin-bottom: 2%;
  }

  .bookItemHead h3 {
    font-size: 1.2em;
  }
  .bookItemBtn {
    font-size: 1.2em;
  }

  .bookItemBtnDel {
    font-size: 1.2em;
  }
}
