.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(111, 194, 197);
  margin-bottom: 20px;
}

.header_night {
  background-color: darkslategrey;
}

.link {
  text-decoration: none;
  color: whitesmoke;
}
