.container_light{
    padding-left: 16px;
    padding-right: 16px;
    background-color: whitesmoke;
  }
  
  .container_dark{
    padding-left: 16px;
    padding-right: 16px;
    background-color: darkslategrey;
    color:aliceblue;
  }