.container {
  padding: 0 2%;
}

.searchForm {
  display: flex;
  justify-content: flex-start;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 60%;
  background: transparent;
  border-bottom: 4px solid cadetblue;
}

.searchFormInput {
  width: 100%;
  height: 2em;
  padding-left: 3%;
  font-size: 1em;
  border: none;
  outline: none;
  background: transparent;
}

.searchFormInput::-webkit-input-placeholder {
  color: gray;
  font-style: italic;
}
.searchFormInput:-moz-placeholder {
  color: gray;
  font-style: italic;
}
.searchFormInput:-ms-input-placeholder {
  color: gray;
  font-style: italic;
}

.searchFormIco {
  width: 10%;
  height: 10%;
}