.container {
  background-color: white;
  padding: 0 16px;
}

.bookItem {
  display: flex;
  border-bottom: 3px solid grey;
  padding: 10px 0;
}

.bookItemImg {
  width: 40%;
}

.bookItemInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  padding: 0 2%;
}

.bookItemHead h2 {
  font-size: 20px;
  margin-bottom: 8%;
}

.bookItemBtn {
  width: 40%;
  height: 3em;
  margin: 2% auto;
  margin-right: 10px;
  border: whitesmoke;
  background-color: cadetblue;
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 0 4px 0 0px rgba(255, 255, 255, 0.081);
  transition: 0.3s;
}

.bookItemBtn:active {
  box-shadow: 0 0px 0 0px transparent;
  transform: translateY(8px);
}

.bookItemBtnDel {
  width: 40%;
  height: 3em;
  margin: 2% auto;
  margin-right: 10px;
  border: whitesmoke;
  background-color: lightslategray;
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 0 4px 0 0px rgba(255, 255, 255, 0.081);
  transition: 0.3s;
}

.bookItemBtn:active {
  box-shadow: 0 0px 0 0px transparent;
  transform: translateY(8px);
}
