* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
  color: #333333;
}

.container {
  max-width: calc(1170px + 32px);
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 0;
}


a {
  text-decoration: none;
  color: white;
}